ul {
    /* ununderline */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    gap: 20px;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: white;
    padding: 50;
    margin: 50;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F4F6;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50;
    background-color: #F3F4F6;
    text-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    flex: 0 auto;
}

.subcontainer2a {
    flex: 1;
    margin: auto;
}

.subcontainer2b {
    flex: 2;
    margin: auto;
}

.containerspacer {
    flex: 1;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

