ul {
    /* ununderline */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    gap: 20px;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: white;
    padding: 5;
    margin: 5;
    width: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F3F4F6;
}

.container2 {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 50vh;
    white-space: wrap;
    word-wrap: normal;
}


/* .subcontainer2a {
    flex: 1;
    margin: auto;
}

.subcontainer2b {
    flex: 2;
    margin: auto;
} */

.button {
    background-color: #3882f6;
}

.container3 {
    display:flex;
    flex-direction: row;
    margin: 50px;
}

img {
    width: 100%;
    height: auto;
    /* center images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    padding: 15px;
}